%h1 Listing stations

%table
  %thead
    %tr
      %th Course
      %th Code
      %th Shortname
      %th Name
      %th Distance
      %th Cutoff
      %th
      %th
      %th

  %tbody
    - @stations.each do |station|
      %tr
        %td= station.course
        %td= station.code
        %td= station.shortname
        %td= station.name
        %td= station.distance
        %td= station.cutoff
        %td= link_to 'Show', station
        %td= link_to 'Edit', edit_station_path(station)
        %td= link_to 'Destroy', station, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Station', new_station_path
