%h1 Listing direct_responses

%table
  %thead
    %tr
      %th Tag
      %th Text
      %th Response
      %th
      %th
      %th

  %tbody
    - @direct_responses.each do |direct_response|
      %tr
        %td= direct_response.tag
        %td= direct_response.text
        %td= direct_response.response
        %td= link_to 'Show', direct_response
        %td= link_to 'Edit', edit_direct_response_path(direct_response)
        %td= link_to 'Destroy', direct_response, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Direct response', new_direct_response_path
