%p#notice= notice

%p
  %b Race:
  = @course.race
%p
  %b Title:
  = @course.title
%p
  %b Distance:
  = @course.distance
%p
  %b Start:
  = @course.start
%p
  %b Stop:
  = @course.stop

= link_to 'Edit', edit_course_path(@course)
\|
= link_to 'Back', courses_path
