%p#notice= notice

%p
  %b Run:
  = @plan.run
%p
  %b Station:
  = @plan.station
%p
  %b Total minute:
  = @plan.total_minute
%p
  %b Worldtime:
  = @plan.worldtime
%p
  %b Margin minute:
  = @plan.margin_minute
%p
  %b Pace:
  = @plan.pace

= link_to 'Edit', edit_plan_path(@plan)
\|
= link_to 'Back', plans_path
