-# frozen_string_literal: true
= simple_form_for(@checkin) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.association :run
    = f.input :distance
    = f.input :time
    = f.input :type
    = f.input :location
    = f.input :remark

  .form-actions
    = f.button :submit
